################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/ProjectManagerService.Tests/bin/Debug
/ProjectManagerService.Tests/obj/Debug
/ProjectManagerService/bin
/ProjectManagerService/obj/Debug
